body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bottom-menu {
	position: fixed;
	bottom: 0;
}

.account-header-segment {
	padding: 20px 5%!important;
  min-height: 20vh;
  max-height: 20vh;
}

#tab-segment {
    margin-bottom: 7%;
}

.tab-container {
	padding: 20px 10%!important;
  min-height: 55vh;
}

#feed-container {
    margin-top: 3%;
    margin-bottom: 7%;
}

#feed-container,
.feed-segment {
  min-height: 100vh!important;

}

.small-margin-header {
	margin: 5px 0!important;
}

.form-container {
  margin-top: 7%;
  margin-bottom: 7%;
}

#post-description-contianer {
  font-size: 1.1rem;
}

#emotion-emoji-card-container {
  border-top: 1px solid lightgrey;
  display: flex;
  margin-top: 10px;
  padding-top: 10px;
}

#emotion-emoji-card-container strong {
  margin-right: 10px;
}

#post-card-extra-content {
  display: flex;
  justify-content: space-between;
}












